#main-canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

* {
    padding: 0;
    margin: 0;
    display: block;
    box-sizing: border-box;
}

html {
    background-color: #181818;
    color: white;
    font-size: 2em;
}

#server-option {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
a {
    color: white;
    text-decoration: none;
    margin: 50px;
    padding: 20px;
    background-color: #303030;
    border-radius: 10px;
}
a:hover {
    background-color: #252525;
}

#main-canvas {

}
#app {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}